<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>strattonshire-ventures-assessment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A47AF78D2C5CB08A004AC18F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A47AF7A62C5CB08D004AC18F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A47AF7B02C5CB08D004AC18F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
